[submodule "source/cryptoutilsbrowser"]
	path = source/cryptoutilsbrowser
	url = git@github.com:JhonnyJason/secret-manager-crypto-utils-sources-cryptoutilsbrowser.git
[submodule "source/byteutilsbrowser"]
	path = source/byteutilsbrowser
	url = git@github.com:JhonnyJason/thingy-byte-utils-sources-byteutilsbrowser.git
